.MainContent{
    background: rgb(169 167 164);
    width: fit-content;
    padding: 50px;
    margin-top: 50px;
    margin-left: 480px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Inputs{
    background: #c2bbbb;
    width: 500px;
    /* color: white; */
    padding: 10px;
    border: none;
    border-radius: 24px;
    margin-bottom: 36px;
    font-size: 20px;
}
.File{
    margin-bottom: 22px;
    font-size: 17px;
}
.MyBTN{
    background: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-radius: 45px;
    font-size: 20px;
}